@{
    ViewData["Title"] = "Admin";
}
<div class="container">
    <div class="userinfo col-12">
        <form id="userinfo" action="/Admin/AddTestPaper" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">试卷名称:</span>
                </div>
                <input type="text" class="form-control col-4" id="papername" name="papername" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">试卷简述:</span>
                </div>
                <input type="text" class="form-control col-4" id="introduce" name="introduce" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择1名称:</span>
                </div>
                <input type="text" class="form-control col-4" id="select1_name" name="select1_name" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择1分数:</span>
                </div>
                <input type="text" class="form-control col-4" id="select1_score" name="select1_score" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择2名称:</span>
                </div>
                <input type="text" class="form-control col-4" id="select2_name" name="select2_name" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择2分数:</span>
                </div>
                <input type="text" class="form-control col-4" id="select2_score" name="select2_score" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择3名称:</span>
                </div>
                <input type="text" class="form-control col-4" id="select3_name" name="select3_name" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择3分数:</span>
                </div>
                <input type="text" class="form-control col-4" id="select3_score" name="select3_score" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择4名称:</span>
                </div>
                <input type="text" class="form-control col-4" id="select4_name" name="select4_name" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">选择4分数:</span>
                </div>
                <input type="text" class="form-control col-4" id="select4_score" name="select4_score" value="">
            </div>
            <div style="padding-top: 15px">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>
        </form>
    </div>
</div>