@{
    ViewData["Title"] = "增删改查";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div id="body">
    <div class="col-lg-12">
        <div>
            <h2>添加记录</h2>
            id：<input id="id" type="text" />
            <br />
            cname:<input id="cname" type="text" />
            <br />
            departID:<input id="departID" type="text" />
            <br />
            age:<input id="age" type="text" />
            <br />
            ename:<input id="ename" type="text" />
            <br />
            password:<input id="password" type="text" />
            <input id="addItem" type="button" value="添加" />
        </div>
        <div >
            <br />
            <br />
            <h2>修改记录</h2>
            id：<input id="id2" type="text" />
            <br />
            cname:<input id="cname2" type="text" />
            <br />
            departID:<input id="departID2" type="text" />
            <br />
            age:<input id="age2" type="text" />
            <br />
            ename:<input id="ename2" type="text" />
            <br />
            password:<input id="password2" type="text" />
            <input id="showItem" type="button" value="查询" />
            <input id="editItem" type="button" value="修改" />
            <input id="removeItem" type="button" value="删除" />
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    //用于保存用户输入数据
    var Custom = {
        create: function () {
            id: "";
            cname: "";
            departID: "";
            age: "";
            ename: "";
            password: "";
            return Custom;
        }
    }
    //添加一条记录 请求类型:POST  请求url:  /Customs
    //请求到CustomsController.cs中的 public HttpResponseMessage PostCustom(Custom item) 方法
    $("#addItem").click(function () {
        var newCustom = Custom.create();
        newCustom.id = $("#id").val();
        newCustom.cname = $("#cname").val();
        newCustom.departID = $("#departID").val();
        newCustom.age = $("#age").val();
        newCustom.ename = $("#ename").val();
        newCustom.password = $("#password").val();
        //alert(newCustom.cname + "|" + newCustom.departID + "|" + newCustom.age + "|" + newCustom.ename + "|" + newCustom.password)
        $.ajax({
            url: "/Customs/AddCustoms",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(newCustom),
            success: function (data) {
                if (data > 0) {
                    alert("添加成功！");
                } else
                    alert("添加失败！");
            }, 
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("请求失败，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    //先根据Id查询记录  请求类型:GET  请求url:  /Customs/Id
    //请求到CustomsController.cs中的 public Custom GetCustom(int id) 方法
    $("#showItem").click(function () {
        var inputId = $("#id2").val();
        $("#cname2").val("");
        $("#departID2").val("");
        $("#age2").val("");
        $("#ename2").val("");
        $("#password2").val("");
        $.ajax({
            url: "/Customs/GetCustoms/" + inputId,
            type: "GET",
            contentType: "application/json; charset=urf-8",
            success: function (data) {
                //var obj = JSON.parse(data);
                var obj = eval('(' + data + ')'); //格式转换
                $.each(obj.Tables, function (index, table) {
                    //根据不同的表名，显示不同的字段。得到特定表，table = obj.Tables[1]
                    var tableName = table.Name;
                    if (table.Rows.length == 0) {
                        $("#id2").val("不存在此id");
                    } else {
                        $.each(table.Rows, function (index, row) {
                            //$('#ccountyList').append(" <li onclick=\"clickCounty('" + row.Name + "','" + row.ID + "')\">" + row.Name + "</li> ");
                            //console.info(row.cname)
                            $("#cname2").val(row.cname);
                            $("#departID2").val(row.departID);
                            $("#age2").val(row.age);
                            $("#ename2").val(row.ename);
                            $("#password2").val(row.password);
                        });
                    }                   
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("请求失败，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    //修改该Id的记录 请求类型:PUT  请求url:  /Customs/Id
    //请求到CustomsController.cs中的 public void PutCustom(int id, Custom product) 方法
    $("#editItem").click(function () {
        var newCustom = Custom.create();
        newCustom.id = $("#id2").val();
        newCustom.cname = $("#cname2").val();
        newCustom.departID = $("#departID2").val();
        newCustom.age = $("#age2").val();
        newCustom.ename = $("#ename2").val();
        newCustom.password = $("#password2").val();

        $.ajax({
            url: "/Customs/UpdateCustoms",
            type: "PUT",
            data: JSON.stringify(newCustom),
            contentType: "application/json; charset=urf-8",
            success: function (data) {
                if (data > 0) {
                    alert("添加成功！");
                } else
                    alert("添加失败！");
            }, 
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("请求失败，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    //删除输入Id的记录  请求类型:DELETE  请求url:  /Customs/Id
    //请求到CustomsController.cs中的  public void DeleteCustom(int id) 方法
    $("#removeItem").click(function () {
        var inputId = $("#id2").val();
        $.ajax({
            url: "/Customs/DeleteCustoms/" + inputId,
            type: "Get",
            contentType: "application/json; charset=uft-8",
            success: function (data) {
                if (data > 0) {
                    alert("id为 " + inputId + " 的记录删除成功！");
                } else
                    alert("id为 " + inputId + " 的记录删除失败！");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("请求失败，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });
</script>