
@{
    ViewData["Title"] = "login";
}
<link href="~/css/index.css" rel="stylesheet">
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <!-- 两个输入框 -->
    <div class="container">
        <div id="logo">
            <h1 class="textcolor text-center">心理测试系统</h1>
            <h4 class="textcolor text-center">第一次登陆后请尽快更改初始密码</h4>
        </div>
        <div id="loginbox">
            <form id="loginform" action="/Home/LoginSigin" method="post">
                @*<div class="form-group">
                    <select name="type" class="mb-3" title="选择用户类型">
                        <option value="1">学生登录</option>
                        <option value="2">管理人员登录</option>
                    </select>
                </div>*@
                <div class="form-group mb-3">
                    <!--账号:-->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" id="userno" name="userno" placeholder="请输入学号" />
                    </div>
                    <!-- 输入密码 -->
                    <div class="edit input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入8~24位密码" />
                    </div>
                </div>
                <div class="form-check">
                    <div class="float-left">
                        <label><input type="checkbox" value="remember-me"></label>
                        记住账号
                    </div>
                    <div class="float-right">
                        <a href="#registerform" class="to-register grey">注册</a>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" id="sub_login">登录</button>
                </div>
            </form>
            <form id="registerform" name="registerform" action="/Home/Register" method="post">
                <input type="hidden" name="type" value="1" />
                <div class="form-group">
                    <!--账号:-->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" id="ruserno" name="userno" placeholder="请输入账号">
                    </div>
                    <!-- 输入密码 -->
                    <div class="edit input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" id="rpassword" name="password" placeholder="请输入密码" />
                    </div>
                    <!-- 输入密码 -->
                    <div class="edit input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" id="relpassword" name="relpassword"
                               placeholder="请确认密码" />
                    </div>
                </div>
                <div class="form-check">
                    <div class="float-right">
                        <a href="#login" class="flip-link to-login grey">返回登录</a>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" id="sub_register" value="注册">注册</button>
                    <input type="reset" class="btn btn-primary btn-block" value="重置" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/index.js" type="text/javascript" charset="uft-8">
</script>
